.venv/*
example_vulnerability_simple/__pycache__/*
tests/test_example_vulnerability_simple/__pycache__/*
example_vulnerability_complex/__pycache__/*
tests/test_example_vulnerability_complex/__pycache__/*
tests/__pycache__/*